@media (min-width: 900px){
  .contenido{
    width: 900px;
  }
  .cabecera{
    display: flex;
    flex-flow: row wrap;
  }
  .titulo{
    /* width: 50%; */
    width: 47%;
    text-align: left;
  }
  .menu{
    /* width: 50%; */
    width: 47%;
    text-align: right;
  }
  .img_central{
    text-align: center;
  }
  .img_secundaria{
    display: flex;
    flex-flow: row wrap;
  }
  .paisaje1{
    width: 50%;
  }
  .retrato1{
    width: 50%;
  }
  .pie{
    display: flex;
    flex-flow: row wrap;
  }
  .contacto{
    /* width: 25%; */
    width: 22%;
  }
  .terminos{
    width: 22%;
  }
  .redes{
    width: 22%;
  }
  .derechos{
    width: 19%;
  }
}
